@font-face {
  font-family: "Yantramanav-Bold";
  src: url("Yantramanav-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "BarlowCondensed-SemiBold";
  src: url("BarlowCondensed-SemiBold.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: pointer;
}

div {
  position: absolute;
}

#wrapper {
  display: block;
  top: 0;
  left: 0;
  width: 300px;
  height: 600px;
  overflow: hidden;
  background: #000000;
}

#wrect {
  width: inherit;
  height: inherit;
  background: #161616;
  pointer-events: none;
  top: 0;
  left: 0;
}

#border {
  border: 1px solid #565656;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  pointer-events: none;
}

#logo {
  width: 95px;
  height: 95px;
  top: 13px;
  left: 13px;
  background: url("logo.svg") center center no-repeat;
}

#cta {
  min-width: 146px;
  width: max-content;
  height: 39px;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #ee3224;
  border-radius: 35px;
  font-family: "BarlowCondensed-SemiBold", serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  color: #fff;
  font-size: 17px;
  line-height: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 1;
  bottom: 17px;
  left: 14px;
  position: absolute;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

#cta:hover {
  background-color: #8b0000;
}

#alertBar {
  width: 76px;
  height: 29px;
  top: 13px;
  right: 13px;
  font-weight: 600;
}

#alertTitle {
  top: 0;
  background-color: #ee3224;
  width: inherit;
  height: 19px;
  overflow: hidden;
}

.alertTitle_firstWord,
.alertTitle_secondWord {
  width: 100%;
  height: 100%;
  line-height: 18px;
  color: #fff;
  font-size: 15px;
  font-family: "Yantramanav-Bold", serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1pt;
}

#alertPlace {
  bottom: 0;
  width: inherit;
  height: 13px;
  background-color: #000;
  color: #fff;
  font-family: "Yantramanav-Bold", serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  overflow: hidden;
  opacity: 0;
}

#alertPlace>div {
  width: inherit;
  text-align: center;
}

#textWrap {
  top: 150px;
  left: 13px;
  width: 235px;
  height: 390px;
  opacity: 0;
}

#headline {
  width: 100%;
  font-size: 45px;
  color: #fff;
  font-family: "BarlowCondensed-SemiBold", serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  line-height: 98%;
  text-align: left;
  display: block;
}

#subheadline {
  font-family: "BarlowCondensed-SemiBold", serif;
  font-size: 29px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  color: #00bdf2;
  display: block;
  margin-top: 6px;
}