body {
    margin: 0;
    padding: 0;
}

div {
    position: absolute;
}

#wrapper {
    display: block;
    top: 0;
    left: 0;
    width: 320px;
    height: 50px;
    background: #fff;
    overflow: hidden;
}

#wrect {
    width: inherit;
    height: inherit;
    background: #fff;
    pointer-events: none;
}

#border {
    border: 1px solid #9a9a9a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    pointer-events: none;
}

#bgexit {
    width: inherit;
    height: inherit;
    cursor: pointer;
}

#logo {
    cursor: pointer;
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translate(0, -50%);
    left: 8px;
    background: url('logo.svg') center center no-repeat;
}

#ctaWrapper {
    width: 59px;
    height: inherit;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 119%;
    letter-spacing: -0.1px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #00bdf2;
    color: #fff;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#cta {
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ctaWrapper:hover {
    background-color: #fff;
    color: #00bdf2;
}

#textWrap {
    width: 139px;
    height: 49px;
    left: 51px;
    line-height: 124%;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: -0.04px;
    display: flex;
    align-items: center;
}

.frame {
    color: #ffffff;
}

.blue {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
}

#image {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

.img {
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
}