@font-face {
    font-family: "BarlowCondensed-SemiBold";
    src: url("BarlowCondensed-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "BarlowCondensed-Regular";
    src: url("BarlowCondensed-Regular.woff2") format("woff2");
}

body {
    margin: 0;
    padding: 0;
}

div {
    position: absolute;
}

#wrapper {
    display: block;
    top: 0;
    left: 0;
    width: 300px;
    height: 600px;
    background: #fff;
    overflow: hidden;
}

#wrect {
    width: inherit;
    height: inherit;
    background: #fff;
    pointer-events: none;
}

#border {
    border: 1px solid #9a9a9a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    pointer-events: none;
}

#bgexit {
    width: inherit;
    height: inherit;
    cursor: pointer;
}

#logo {
    cursor: pointer;
    width: 85px;
    height: 85px;
    top: 15px;
    left: 15px;
    background: url('logo.svg') center center no-repeat;
}

#cta {
    width: 147px;
    height: 39px;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'BarlowCondensed-SemiBold', sans-serif;
    font-size: 17px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20px;
    background-color: #00bdf2;
    color: #fff;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#cta:hover {
    background-color: #fff;
    color: #00bdf2;
}

#textWrap {
    width: 270px;
    height: 250px;
    top: 113px;
    left: 15px;
    line-height: 104%;
    font-family: 'BarlowCondensed-Regular', sans-serif;
    font-size: 25px;
}

.frame {
    color: #ffffff;
}

.blue {
    font-family: 'BarlowCondensed-SemiBold', sans-serif;
}

#image {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

.img {
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
}